<form>
  <input type="button" value="Clique Aqui" onclick="msg(Produto)">
</form>
 
<script>
function msg(Produto) {
  alert("Você clicou no botão!");
}
</script>

form>
    <input type="checkbox" name="veiculo1" value="bicicleta">Eu tenho uma bicicleta<br>
    <input type="checkbox" name="veiculo2" value="carro">Eu tenho um carro<br>
    <input type="checkbox" name="veiculo3" value="moto">Eu tenho uma moto
</form>

<form>
    Selecione sua cor preferida: <input type="color" name="favcor" value="#0000FF">
</form>

<form>
    Quantidade (entre 1 e 5): <input type="number" name="quantidade" min="1" max="5">    
</form>

<form>
    Data de nascimento: <input type="date" name="nascimento">
</form>
<form>
    Data de nascimento: <input type="datetime-local" name="bdaytime">
</form>

<form>
    E-mail: <input type="email" name="e-mail" placeholder="digite seu e-mail aqui">
</form>

<form>
    Mês e ano: <input type="month" name="mesano">
</form>

<form>
    <input type="file" name="arquivos">
</form>
<br><br><br>
 
<!-- Para permitir seleção de multiplos arquivos: -->
<form>
    <input type="file" name="arquivos" multiple>
</form>